#define MANIFEST 24
#define IDR_XPMANIFEST1 1
#define IDR_VERSION1 1

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "CompanyName", "B. A. Bhathiya N. H. Perera\0"
      VALUE "FileDescription", "Install\0"
      VALUE "InternalName", "Install\0"
      VALUE "LegalCopyright", "B. A. Bhathiya N. H. Perera\0"
      VALUE "LegalTrademarks", "SIMPLL\0"
      VALUE "OriginalFilename", "Install.exe\0"
      VALUE "ProductName", "SIMPLL\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

